@model DbNetTimeCore.Pages.IndexModel
@{
    Layout = "_Layout";
}
@using System.Data;
<h5>Projects</h5>
<table class="table">
    <thead>
        <tr>

            @foreach (DataColumn column in Model.Data.Columns)
            {
                <th>@column.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Data.Rows)
        {
            <tr>
                @foreach (DataColumn col in Model.Data.Columns)
                {
                    <th>@row[col]</th>
                }
            </tr>
        }
    </tbody>
</table>
