@using DbNetSuiteCore.Helpers;
@using DbNetSuiteCore.Constants;
@using DbNetSuiteCore.ViewModels;

<dialog class="confirm-dialog dialog border-solid border-2 border-stone-200 rounded-md bg-neutral-100" style="margin: 0;position: absolute;z-index:100;">
    <div class="flex flex-col">
        <nav class="dialog-nav">
            <div class="flex flex-row justify-between items-center border-solid border border-stone-200 bg-stone-200 rounded-md m-1 p-1">
                <div>
                    <span class="font-bold text-base text-cyan-800">Confirm Delete</span>
                </div>
                <div>
                    <button button-type="close" type="button" title="Close">@IconHelper.Close()</button>
                </div>
            </div>
        </nav>
        <div class="flex confirm-dialog-content p-2 font-bold prompt"></div>
        <div class="flex flex-row justify-end items-center border-solid border border-stone-200 bg-stone-200 gap-1 rounded-md m-1 p-1">
            <button type="button" button-type="confirm" style="background-color: rgb(255 228 230);color:#9f1239">Confirm&nbsp;@IconHelper.Delete()</button>
            <button type="button" button-type="cancel">Cancel&nbsp;@IconHelper.Cancel()</button>
        </div>
    </div>
</dialog>