@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Web.Enums

@{
    var citiesGrid = new GridModel(DataSourceType.SQLite, "DbNetSuiteCore(sqlite)", "cities") { Caption = "." };
    citiesGrid.Columns = new List<GridColumn>
    {
        new GridColumn("cityid") { ForeignKey = true},
        new GridColumn("CityName", "City") ,
        new GridColumn("stateid", "State") {Lookup = new Lookup("states","stateid","statename")},
        new GridColumn("latitude"),
        new GridColumn("longitude"),
        new GridColumn("(latitude & ',' & longitude)", "Map") {Format = "<a target='_blank' href='https://www.google.com/maps/place/{0}'>Map</a>"},
        new GridColumn("wikiDataId") {Format = "<a target='_blank' href='https://www.wikidata.org/wiki/{0}'>WikiData</a>"}
    };
    citiesGrid.ClientEvents[GridClientEvent.RowSelected] = "updateMap";

    var citySelect = new SelectModel(DataSourceType.SQLite, "DbNetSuiteCore(sqlite)", "cities") { Caption = "City", Searchable = true };
    citySelect.Columns = new List<SelectColumn>
    {
        new SelectColumn("cityid") {PrimaryKey = true },
        new SelectColumn("cityname"),
        new SelectColumn("stateid") { ForeignKey = true }
    };

    citySelect.LinkedControl = citiesGrid;

    var stateSelect = new SelectModel(DataSourceType.SQLite, "DbNetSuiteCore(sqlite)", "states") { Caption = "State", Searchable = true, Distinct = true };
    stateSelect.Columns = new List<SelectColumn>
    {
        new SelectColumn("stateid") {PrimaryKey = true },
        new SelectColumn("statename"),
        new SelectColumn("countryid") { ForeignKey = true }
    };
    stateSelect.LinkedControl = citySelect;

    var countrySelect = new SelectModel(DataSourceType.SQLite, "DbNetSuiteCore(sqlite)", "countries") { Caption = "Country", Searchable = true, Distinct = true };
    countrySelect.Columns = new List<SelectColumn>
    {
        new SelectColumn("countryid") {PrimaryKey = true },
        new SelectColumn("countryname")
    };
    countrySelect.LinkedControl = stateSelect;
}
<div class="flex flex-row">
    <div class="flex">
        @(await new DbNetSuiteCore.Control(HttpContext).Render(countrySelect))
    </div>
    <div class="flex">
        @(await new DbNetSuiteCore.Control(HttpContext).Render(stateSelect))
    </div>
    <div class="flex">
        @(await new DbNetSuiteCore.Control(HttpContext).Render(citySelect))
    </div>
</div>
<div class="flex">
    @(await new DbNetSuiteCore.Control(HttpContext).Render(citiesGrid))
</div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<div class="flex p-1" id="map" style="height:400px; width:800px;margin-top:10px; border:1pt solid gainsboro; border-radius:5px;"></div>

<script>
    var map, marker;

    function updateMap(gridControl, args) {
        gridControl.setCaption(gridControl.columnValue("name", args.row))
        let latitude = gridControl.columnValue("latitude", args.row);
        let longitude = gridControl.columnValue("longitude", args.row);
        renderMap(Number(latitude), Number(longitude))
    }

    function renderMap(latitude, longitude) {
        if (map) {
            marker.setLatLng([latitude, longitude]);
            map.panTo([latitude, longitude]);
        }
        else {
            map = L.map('map').setView([latitude, longitude], 12);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            marker = L.marker([latitude, longitude]).addTo(map);
        }
    }
</script>
