@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models

@{
var employeeSelect = new SelectModel(DataSourceType.SQLite, "Northwind(sqlite)", "Employees") { Caption = "Employees", Search = true, Layout = LayoutType.Row };
employeeSelect.Columns = new List<SelectColumn>()
{
    new SelectColumn("EmployeeID"),
    new SelectColumn("coalesce(LastName,'') || ', ' || coalesce(FirstName,'') as full_name"),
    new SelectColumn("LastName"),
    new SelectColumn("FirstName"),
    new SelectColumn("Title"),
    new SelectColumn("TitleOfCourtesy"),
    new SelectColumn("BirthDate"),
    new SelectColumn("HireDate"),
    new SelectColumn("Address"),
    new SelectColumn("City"),
    new SelectColumn("Region"),
    new SelectColumn("PostalCode"),
    new SelectColumn("Country"),
    new SelectColumn("HomePhone"),
    new SelectColumn("Extension"),
    new SelectColumn("Photo"),
    new SelectColumn("Notes"),
    new SelectColumn("ReportsTo") {Lookup = new Lookup("employees","EmployeeID","LastName || ',' || FirstName")}
}; 

employeeSelect.ClientEvents[SelectClientEvent.OptionSelected] = "showEmployee";

@(await DbNetSuiteCore.Control.Create(Context).Render(employeeSelect))
<hr />
<table>
    @foreach (var column in employeeSelect.Columns.Skip(2).ToList())
    {
        <tr>
            <td style="font-weight:bold">@column.Expression</td>
            <td id="@column.Expression.ToLower()"></td>
        </tr>
    }
</table>
}
<script>
function showEmployee(selectControl, args) {
    let selectedOption = args.selectedOptions[0]

    for (var name in selectedOption.dataset) {
        var el = document.querySelector(`#${name}`)
        if (!el) {
            continue
        }
        if (name == 'photo') {
            el.innerHTML = `<img src="data:image/jpg;base64,${selectedOption.dataset[name]}" style="max-height:100px"/>`
        }
        else {
            el.innerText = selectedOption.dataset[name]
        }
    }
}

</script>