<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DbNetSuiteCore.Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/?key=grid" data-enhance-nav="false" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grid Samples
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/?key=form" data-enhance-nav="false">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Form Samples
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/?key=select" data-enhance-nav="false">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Select Samples
            </NavLink>
        </div>
    </nav>
</div>

