@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Identity.Constants
@using DbNetSuiteCore.Identity.Plugins
@model DbNetSuiteCore.Identity.ViewModels.BaseViewModel
@{
    ViewData["Title"] = "Users";
}

@{
    GridModel usersGrid = new GridModel(DataSourceType.MSSQL, IdentityConstants.ConnectionAlias, "Users");
    usersGrid.Caption = "Users";
    usersGrid.Columns = new List<GridColumn>()
    {
        new GridColumn("Id") {DataOnly = true},
        new GridColumn("UserName"),
        //new GridColumn("NormalizedUserName"),
        new GridColumn("Email"),
        //new GridColumn("NormalizedEmail"),
        new GridColumn("EmailConfirmed"),
        //new GridColumn("PasswordHash"),
        //new GridColumn("SecurityStamp"),
        //new GridColumn("ConcurrencyStamp"),
        new GridColumn("PhoneNumber"),
        new GridColumn("PhoneNumberConfirmed"),
        new GridColumn("TwoFactorEnabled"),
        new GridColumn("LockoutEnabled"),
        new GridColumn("AccessFailedCount")
    };


    FormModel usersForm = new FormModel(DataSourceType.MSSQL, IdentityConstants.ConnectionAlias,"Users")
    {
        LayoutColumns = 4,
        Delete = true
    };
    usersForm.Columns = new List<FormColumn>()
    {
        new FormColumn("Id") {DataOnly = true, ForeignKey = true},
        new FormColumn("UserName"),
        new FormColumn("Email")
    };
    usersForm.Bind(FormClientEvent.RecordLoaded, "userControl.userSelected");
    usersForm.CustomisationPlugin = typeof(UserPlugin);

    var userRolesGrid = new GridModel(DataSourceType.MSSQL, IdentityConstants.ConnectionAlias, "User_Roles") { };
    userRolesGrid.Columns = new List<GridColumn>()
    {
        new GridColumn("UserId"){ DataOnly = true, ForeignKey = true },
        new GridColumn("RoleId"){ Lookup = new Lookup("Roles","Id","Name")}
    };
    userRolesGrid.ToolbarPosition = ToolbarPosition.Hidden;
    userRolesGrid.Caption = "User Roles";
    userRolesGrid.HeadingMode = HeadingMode.Hidden;
    userRolesGrid.RowSelection = RowSelection.Multiple;
    userRolesGrid.MultiRowSelectLocation = MultiRowSelectLocation.Right;
    userRolesGrid.Bind(GridClientEvent.Initialised, "userControl.saveGridReference");

    usersGrid.LinkedControl = usersForm;
    usersForm.LinkedControl = userRolesGrid;

    <div class="flex flex-column gap-3">
        <div>@(await DbNetSuiteCore.Control.Create(Context).Render(usersGrid))</div>
        <div>@(await DbNetSuiteCore.Control.Create(Context).Render(usersForm))</div>
        <div>@(await DbNetSuiteCore.Control.Create(Context).Render(userRolesGrid))</div>
    </div>

}
<script src="js/users.js"></script>
