@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Web.Enums
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models
@{
    <table>
        @foreach (ResourceNames resourceName in Enum.GetValues(typeof(ResourceNames)))
        {
            <tr><td>@resourceName : @ResourceHelper.GetResourceString(resourceName)</td></tr>
        }

        @foreach (SearchOperator resourceName in Enum.GetValues(typeof(SearchOperator)))
        {
            <tr><td>@resourceName : @ResourceHelper.GetResourceString(resourceName)</td></tr>
        }
    
    </table>
}