@page
@using DbNetTimeCore.Enums
@using DbNetSuiteCore.Helpers
@using TQ.Models

@{
    var ratings = new List<string> { "G", "NC-17", "PG", "PG-13", "R" };
}

<div role="tablist" class="tabs tabs-lifted m-5 tabs-lg grid-flow-col auto-cols-max">
    @{
        foreach (string rating in ratings)
        {
            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="@(rating) Rating" @(rating == ratings.First() ? "checked" : string.Empty) />
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
                @(await new DbNetSuiteCore.GridControl(HttpContext).Render(new GridModel(DataSourceType.SQlite, "Sakila", "Film join Language on Film.Language_id = language.language_id") { Columns = ColumnInfoHelper.FilmGridColumns(), FixedFilter = $"rating = '{rating}'" }))
            </div>
        }
    }
</div>

