@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models

@{
    Layout = null;
}

@{
    var customerColumns = new List<GridColumnModel>
    {
        new GridColumnModel("customer.customer_id", "CustomerID"),
        new GridColumnModel("customer.first_name", "Forename"),
        new GridColumnModel("customer.last_name", "Surname"),
        new GridColumnModel("customer.email", "Email Address") {Format = "email" },
        new GridColumnModel("address.address", "Address"),
        new GridColumnModel("city.city", "City") { InitialSortOrder = SortOrder.Desc},
        new GridColumnModel("address.postal_code", "Post Code"),
        new GridColumnModel("customer.active", "Active") {DataType = typeof(Boolean)},
        new GridColumnModel("customer.create_date", "Created") {Format = "dd/MM/yy", DataType = typeof(DateTime)},
        new GridColumnModel("customer.last_update", "Last Updated") {Format = "dd/MM/yy", DataType = typeof(DateTime)}
    };

    var customerGridModel = new GridModel(DataSourceType.SQlite, "Sakila", "Customer join Address on Customer.Address_Id == Address.Address_Id join City on City.City_Id = Address.City_Id");
    customerGridModel.Columns = customerColumns;
    customerGridModel.ClientEvents[ClientEvent.PageLoaded] = "customerGridPageLoaded";
    customerGridModel.ClientEvents[ClientEvent.RowSelected] = "customerRowSelectedLoaded";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers</title>
    <link rel="stylesheet" href="css.htmx" />
</head>
<body>
    <main style="padding:20px">
        @(await new DbNetSuiteCore.GridControl(HttpContext).Render(customerGridModel))
    </main>
    <script src="js.htmx"></script>

    <script>
        function customerGridPageLoaded(gridControl) {
            console.log('pageloaded')
        }

        function customerRowSelectedLoaded(gridControl) {
            console.log('rowselected')
        }
    </script>
</body>
</html>

