@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models

<!DOCTYPE html>
<html lang="en">
<head>
    @DbNetSuiteCore.Resources.StyleSheet() @* Add the stylesheet *@
</head>
<body>
    <main>
@{
            @* Pass the data source type, connection alias and table/view name to the constructor *@
            var customerGrid = new GridModel(DataSourceType.SQLite, "Northwind(sqlite)", "Customers");
            @* Render the grid control *@
            @(await new DbNetSuiteCore.GridControl(HttpContext).Render(customerGrid))
}
    </main>
    @DbNetSuiteCore.Resources.ClientScript() @* Add the client-side library *@
</body>
</html>

