<div class="gap-2 my-2" style="display:grid;grid-template-columns: repeat(4, auto)">
    <div style="display:grid;grid-column:1" class="content-start">
        <label for="CustomerID" class="font-bold text-slate-800">Customer ID</label><input type="text" name="_CustomerID" data-value="ALFKI" value="ALFKI" data-datatype="String" data-dbdatatype="TEXT" class="fc-control w-full" data-error="false" maxlength="-1" disabled="" data-modified="false">
    </div>
    <div style="display:grid;grid-column:1" class="content-start">
        <label for="CompanyName" class="font-bold text-slate-800">Company Name</label><input type="text" name="_CompanyName" data-value="Alfreds Futterkiste" value="Alfreds Futterkiste" data-datatype="String" data-dbdatatype="TEXT" class="fc-control w-full" data-error="false" maxlength="-1" data-modified="false">
    </div>
    <div style="display:grid;grid-column:1" class="content-start">
        <label for="ContactName" class="font-bold text-slate-800">Contact Name</label><input type="text" name="_ContactName" data-value="Maria Anders" value="Maria Anders" data-datatype="String" data-dbdatatype="TEXT" class="fc-control w-full" data-error="false" maxlength="-1" data-modified="false">
    </div>
    <div style="display:grid;grid-column:1" class="content-start">
        <label for="ContactTitle" class="font-bold text-slate-800">Contact Title</label><input type="text" name="_ContactTitle" data-value="Sales Representative" value="Sales Representative" data-datatype="String" data-dbdatatype="TEXT" class="fc-control w-full" data-error="false" maxlength="-1" data-modified="false">
    </div>
    <div style="display:grid;grid-column:1" class="content-start">
        <label for="Address" class="font-bold text-slate-800">Address</label><input type="text" name="_Address" data-value="Obere Str. 57" value="Obere Str. 57" data-datatype="String" data-dbdatatype="TEXT" class="fc-control w-full" data-error="false" maxlength="-1" data-modified="false">
    </div>
    <div style="display:grid;grid-column:1" class="content-start">
        <label for="City" class="font-bold text-slate-800">City</label><input type="text" name="_City" data-value="Berlin" value="Berlin" data-datatype="String" data-dbdatatype="TEXT" class="fc-control w-full" data-error="false" maxlength="-1" data-modified="false">
    </div>
    <div style="display:grid;grid-column:1" class="content-start">
        <label for="Region" class="font-bold text-slate-800">Region</label><input type="text" name="_Region" data-value="Western Europe" value="Western Europe" data-datatype="String" data-dbdatatype="TEXT" class="fc-control w-full" data-error="false" maxlength="-1" data-modified="false">
    </div>
    <div style="display:grid;grid-column:1" class="content-start">
        <label for="PostalCode" class="font-bold text-slate-800">Postal Code</label><input type="text" name="_PostalCode" data-value="12208" value="12208" data-datatype="String" data-dbdatatype="TEXT" class="fc-control w-full" data-error="false" maxlength="-1" data-modified="false">
    </div>
    <div style="display:grid;grid-column:1" class="content-start">
        <label for="Country" class="font-bold text-slate-800">Country</label><input type="text" name="_Country" data-value="Germany" value="Germany" data-datatype="String" data-dbdatatype="TEXT" class="fc-control w-full" data-error="false" maxlength="-1" data-modified="false">
    </div>
    <div style="display:grid;grid-column:1" class="content-start">
        <label for="Phone" class="font-bold text-slate-800">Phone</label><input type="text" name="_Phone" data-value="030-0074321" value="030-0074321" data-datatype="String" data-dbdatatype="TEXT" class="fc-control w-full" data-error="false" maxlength="-1" data-modified="false">
    </div>
    <div style="display:grid;grid-column:1" class="content-start">
        <label for="Fax" class="font-bold text-slate-800">Fax</label><input type="text" name="_Fax" data-value="030-0076545" value="030-0076545" data-datatype="String" data-dbdatatype="TEXT" class="fc-control w-full" data-error="false" maxlength="-1" data-modified="false">
    </div>
</div>