@model DbNetTimeCore.Models.DataGrid
@using System.Data
<form id="@Model.GridId">
    @await Html.PartialAsync("~/Pages/Shared/_gridMarkup.cshtml", Model)
</form>

<script>
    domReady(() => {
        let gridControl = new GridControl("@(Model.GridId)");
    });
</script>
