<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DbNetTimeCore</title>
    <link rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="daisyui.css" />

    @await RenderSectionAsync("Styles", required: false)

    <script>
        function domReady(fn) {
            document.addEventListener("DOMContentLoaded", fn);
            if (document.readyState === "interactive" || document.readyState === "complete") {
                fn();
            }
        }
    </script>
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <script src="tailwindcss.js"></script>
    <script src="htmx.min.js"></script>
    <script src="surreal.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>