@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Constants
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models

@{
    Layout = null;
}

@{
    var customerColumns = new List<GridColumn>
    {
        new GridColumn("customer.customer_id", "CustomerID"),
        new GridColumn("customer.first_name", "Forename"),
        new GridColumn("customer.last_name", "Surname"),
        new GridColumn("customer.email", "Email Address") {Format = FormatType.Email },
        new GridColumn("address.address", "Address"),
        new GridColumn("city.city", "City") {InitialSortOrder = SortOrder.Desc },
        new GridColumn("address.postal_code", "Post Code") {Filter = FilterType.Default},
        new GridColumn("customer.active", "Active") {DataType = typeof(Boolean), Filter = FilterType.Default},
        new GridColumn("customer.create_date", "Created") {Format = "dd/MM/yy", DataType = typeof(DateTime), Filter = FilterType.Default},
        new GridColumn("customer.last_update", "Last Updated") {Format = "dd/MM/yy", DataType = typeof(DateTime), Filter = FilterType.Default}
    };

    var customerGridModel = new GridModel(DataSourceType.SQLite, "Sakila(sqlite)", "Customer join Address on Customer.Address_Id == Address.Address_Id join City on City.City_Id = Address.City_Id");
    customerGridModel.Columns = customerColumns;
    customerGridModel.ClientEvents[GridClientEvent.PageLoaded] = "customerGridPageLoaded";
    customerGridModel.ClientEvents[GridClientEvent.RowSelected] = "customerRowSelectedLoaded";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers</title>
    @DbNetSuiteCore.Resources.StyleSheet()
</head>
<body>
    <main style="padding:20px">
        @(await new DbNetSuiteCore.Control(HttpContext).Render(customerGridModel))
    </main>
    @DbNetSuiteCore.Resources.ClientScript()

    <script>
        function customerGridPageLoaded(gridControl) {
            console.log('pageloaded')
        }

        function customerRowSelectedLoaded(gridControl) {
            console.log('rowselected')
        }
    </script>
</body>
</html>

