@model DbNetSuiteCore.ViewModels.TreeViewModel
@using System.Data
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models
@using Microsoft.AspNetCore.Html
@using DbNetSuiteCore.Constants
@using DbNetSuiteCore.Enums

<div class="custom-select-wrapper">
    <div class="select-trigger">
        <div id="selected-label" data-selectiontitle="@Model.TreeModel.SelectionTitle">@Model.TreeModel.SelectionPlaceholder</div>
        <span class="chevron">▼</span>
    </div>

    <div id="dropdownMenu" class="dropdown-content">
        <div class="search-container">
            <input type="text" id="treeSearch" placeholder="@Model.TreeModel.InputPlaceholder" autocomplete="off">
            <button type="button" id="resetBtn" title="Reset Selection">✕</button>
        </div>

        <div id="locationTree" class="flex-tree tree-root">

            @{
                foreach (DataRow row in Model.Levels[0].Data.Rows)
                {
                    @await Html.PartialAsync("Tree/__Node", Model.GetTreeNodeViewModel(row, 0))
                }
            }
        </div>
    </div>
</div>
