@page
@using DbNetSuiteCore.Constants
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Web.Enums
@using DbNetSuiteCore.Web.Plugins

<div style="display:flex;flex-direction:row;gap:10px;align-items:center;padding-bottom:10px">
    <div><strong>Alert Type</strong></div>
    <div>
        <select id="alertType" data-param="type">
            <option value="">All</option>
            <option value="AA">Allergy Alert</option>
            <option value="PRIN">Product Recall Information Notice</option>
            <option value="FAFA">Food Alert For Action</option>
        </select>
    </div>
    <div><strong>Period</strong></div>
    <div>
        <select id="period" data-param="since">
            @{
                for (int days = 120; days >= 30; days -= 30)
                {
                    <option value="@DateTime.Now.AddDays(0 - days).ToString("yyyy-MM-ddTHH:mm:ssZ")" @(days == 60 ? "selected" : string.Empty)>Last @days days</option>
                }
            }
            </select>
        </div>
    </div>


@{
    var gridModel = new GridModel(DataSourceType.JSON, "https://data.food.gov.uk/food-alerts/id")
    {
        Caption = "Food Alerts",
        JsonTransformPlugin = typeof(FoodAlertsTransform),
        ViewDialog = new ViewDialog() { LayoutColumns = 2 }
    };

    gridModel.Columns = new List<GridColumn>()
    {
        new GridColumn("Title"),
        new GridColumn("Notation") {PrimaryKey = true},
        new GridColumn("Created") { DataType = typeof(DateTime)},
        new GridColumn("Modified"),
        new GridColumn("Type") { Format = FormatType.Url},
        new GridColumn("ShortTitle"),
        new GridColumn("Status"),
        new GridColumn("AlertURL", "Details") { Format = FormatType.Url},
        new GridColumn("ReportingBusiness") {Filter = FilterType.Distinct},
        new GridColumn("Problem"),
        new GridColumn("ProductDetails"),
        new GridColumn("Country"),
    };
    gridModel.ApiRequestParameters["_limit"] = "100";
    gridModel.ApiRequestParameters["since"] = DateTime.Now.AddDays(-60).ToString("yyyy-MM-ddTHH:mm:ssZ");
    gridModel.ApiRequestParameters["type"] = "";

    gridModel.ClientEvents[GridClientEvent.Initialised] = "saveGridRef";
    @(await DbNetSuiteCore.Control.Create(HttpContext).Render(gridModel));
}

<script>
    function updateParam(event)
    {       
        var params = {}
        params[event.target.dataset.param] = event.target.value;
        window.foodAlertsGrid.updateApiRequestParameters(params);
    }

    function saveGridRef(sender, args)
    {
        document.querySelector("#alertType").addEventListener("change", updateParam);
        document.querySelector("#period").addEventListener("change", updateParam);

        window.foodAlertsGrid = sender;
    }
</script>