@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Web.Enums

<select id="alertType">
    <option value="xxxxxxxxx">All</option>
    <option value="AA">Allergy Alert</option>
    <option value="PRIN">Product Recall Information Notice</option>
    <option value="FAFA">Food Alert For Action</option>
</select>

@{
    var gridModel = new GridModel(DataSourceType.JSON, "https://data.food.gov.uk/food-alerts/id")
    {
        Caption = "Food Alerts in last 30 days"
    };
    gridModel.ApiRequestParameters["_limit"] = "100";
    gridModel.ApiRequestParameters["since"] = DateTime.Now.AddDays(-30).ToString("yyyy-MM-ddTHH:mm:ssZ");
    gridModel.ApiRequestParameters["type"] = "xxxxxxxxxxxxx";

    gridModel.ClientEvents[GridClientEvent.CellTransform] = "transformLinks";
    gridModel.ClientEvents[GridClientEvent.Initialised] = "saveGridRef";
    @(await new DbNetSuiteCore.Control(HttpContext).Render(gridModel));
}


<script>
    function updateParams(event)
    {       
        var params = {}
        params.type = event.target.value;
        window.foodAlertsGrid.updateApiRequestParameters(params);
    }

    function saveGridRef(sender, args)
    {
        document.querySelector("#alertType").addEventListener("change", updateParams);
        window.foodAlertsGrid = sender;
    }

    function transformLinks(sender, args)
    {
        let names = [];
        switch (args.columnName.toLowerCase())
        {
            case "type":
                let links = [];
                args.json.forEach((t) =>
                    {
                        links.push(`<a target='_blank' href=${t}>${t.split('/')[t.split('/').length-1]}</a>`)
                    }
                )
                args.cell.innerHTML = links.join(', ');
                break;
            case "problem":
                if (args.json && args.json.length)
                {
                    args.cell.innerHTML = args.json[0].riskStatement;
                }
                break;
            case "status":
                if (args.json)
                {
                    args.cell.innerHTML = args.json.label;
                }
                break;
            case "reportingbusiness":
                if (args.json)
                {
                    args.cell.innerHTML = args.json.commonName;
                }
                break;
            case "productdetails":
                if (args.json && args.json.length)
                {
                    args.json.forEach((p) =>
                        {
                            names.push(p.productName)
                        }
                    )
                    args.cell.innerHTML = names.join(', ');
                }
                break;
            case "country":
                if (args.json && args.json.length)
                {
                    args.json.forEach((c) =>
                        {
                            names.push(c.label[0])
                        }
                    )
                    args.cell.innerHTML = names.join(', ');
                    break;
                }
       } 
    }
</script>