@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Web.Enums

@{
    Layout = null;
}

@{
    var customerColumns = new List<GridColumn>
    {
        new GridColumn("CustomerID", "CustomerID") {PrimaryKey = true },
        new GridColumn("CompanyName", "Company Name"),
        new GridColumn("ContactName", "Contact Name"),
        new GridColumn("ContactTitle", "Contact Title"),
        new GridColumn("Address", "Address"),
        new GridColumn("City", "City") {},
        new GridColumn("PostalCode", "Post Code"),
        new GridColumn("Country", "Country"),
        new GridColumn("Phone", "Phone"),
        new GridColumn("Fax", "Fax")
    };

    var orderColumns = new List<GridColumn>
    {
        new GridColumn("OrderID", "Invoice ID") ,
        new GridColumn("CustomerID", "Customer ID") {ForeignKey = true },
        new GridColumn("EmployeeID", "Employee ID"),
        new GridColumn("OrderDate", "Ordered"),
        new GridColumn("RequiredDate", "Required "),
        new GridColumn("ShippedDate", "Shipped "),
        new GridColumn("ShipVia", "Ship Via") {LookupEnum = typeof(ShipperEnum)}, 
        new GridColumn("Freight", "Freight"),
        new GridColumn("ShipName", "Ship Name"),
        new GridColumn("ShipAddress", "Ship Address"),
        new GridColumn("ShipCity", "Ship City"),
        new GridColumn("ShipRegion", "Ship Region"),
        new GridColumn("ShipPostalCode", "Ship Postal Code"),
        new GridColumn("ShipCountry", "Ship Country")
    };


    var ordersGridModel = new GridModel(DataSourceType.JSON, "/orders");
    ordersGridModel.Columns = orderColumns;

    var customerGridModel = new GridModel(DataSourceType.JSON, "/customers");
    customerGridModel.Columns = customerColumns;
    customerGridModel.NestedGrid = ordersGridModel;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers</title>
    @DbNetSuiteCore.Resources.StyleSheet()
</head>
<body>
    <main style="padding:20px">
        @(await new DbNetSuiteCore.GridControl(HttpContext).Render(customerGridModel))
    </main>
    @DbNetSuiteCore.Resources.ClientScript()
</body>
</html>

