<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DbNetSuiteCore</title>
    @DbNetSuiteCore.Resources.StyleSheet()
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <main style="padding:20px">
        @RenderBody()
    </main>
    @DbNetSuiteCore.Resources.ClientScript()
    <script src="~/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

