<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DbNetSuiteCore</title>
    @DbNetSuiteCore.Resources.StyleSheet()
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <main>
        @RenderBody()
    </main>
    @DbNetSuiteCore.Resources.ClientScript()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>