@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Web.Enums
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Web.Helpers
@{
    var filmForm = new FormModel(DataSourceType.SQLite, "Sakila(sqlite)", "Film join Language on Film.Language_id = language.language_id")
    {
            Columns = new List<FormColumn>()
            {
                new FormColumn("film.film_id", "FilmID") { PrimaryKey = true},
                new FormColumn("film.title", "Title"),
                new FormColumn("film.description", "Description"),
                new FormColumn("film.release_year", "Year Of Release"),
                new FormColumn("film.language_id", "Language") { Lookup = new Lookup("language","language_id","name")},
                new FormColumn("film.rental_duration", "Duration"),
                new FormColumn("film.rental_rate", "Rental Rate"){Format = "C" },
                new FormColumn("film.length", "Length"),
                new FormColumn("film.replacement_cost", "Replacement Cost"){Format = "C" },
                new FormColumn("film.rating", "Rating") ,
                new FormColumn("film.special_features", "Special Features"),
                new FormColumn("film.last_update", "Last Updated") {}
            }
    };

    var actorsForm = new FormModel(DataSourceType.SQLite, "Sakila(sqlite)", "film_actor")
    {
        Columns = new List<FormColumn>()
        {
            new FormColumn("film_id") {ForeignKey = true},
            new FormColumn("actor_id","Actor") {Lookup = new Lookup("actor","actor_id","last_name")}
        }
    };

    var categoryForm = new FormModel(DataSourceType.SQLite, "Sakila(sqlite)", "film_category")
    {
        Columns = new List<FormColumn>()
        {
            new FormColumn("film_id") {ForeignKey = true},
            new FormColumn("category_id","Category") {Lookup = new Lookup("category","category_id","name")}
        }
    };

    filmForm.LinkedControl = actorsForm;
    filmForm.LinkedControl = categoryForm;

    <div style="display:flex">
        <div>
            <div> @(await new DbNetSuiteCore.FormControl(HttpContext).Render(filmForm))</div>
        </div>
        <div style=display:flex;flex-direction: row;">
            <div> @(await new DbNetSuiteCore.FormControl(HttpContext).Render(actorsForm))</div>
            <div> @(await new DbNetSuiteCore.FormControl(HttpContext).Render(categoryForm))</div>
        </div>
    </div>
}