@page "/Select/Customers"
@attribute [StreamRendering]
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Constants
@using DbNetSuiteCore.Enums
@inject IHttpContextAccessor httpContextAccessor
@inject IJSRuntime JSRuntime

<PageTitle>Customer Form</PageTitle>

<p data-summary>The select control is designed to create a simple, searchable selection control</p>
@{
    var orderDetailsGrid = new GridModel(DataSourceType.SQLite, "Northwind", "[Order Details]");
    orderDetailsGrid.Columns = new List<GridColumn>
    {
        new GridColumn("OrderId", "Invoice Line ID") {ForeignKey = true },
        new GridColumn("ProductID", "Product")  {Lookup = new Lookup("Products","ProductID","ProductName")},
        new GridColumn("UNitPrice", "Price") { Format = "c"},
        new GridColumn("QUantity", "Quantity"),
        new GridColumn("UnitPrice*Quantity", "Cost") { Format = "c", DataType = typeof(Decimal)},
        new GridColumn("Discount", "Discount") { Format = "p"},
        new GridColumn( "UnitPrice*Quantity* (1-Discount)", "Net Cost") { Format = "c", DataType = typeof(Decimal)},
    };

    orderDetailsGrid.Caption = "Order Details";
    orderDetailsGrid.PageSize = 5;

    var ordersGrid = new GridModel(DataSourceType.SQLite, "Northwind", "Orders");
    ordersGrid.Columns = new List<GridColumn>
    {
        new GridColumn("OrderId", "Order ID") {PrimaryKey = true },
        new GridColumn("customerid", "Customer ID") {ForeignKey = true },
        new GridColumn("employeeid", "Employee") { Lookup = new Lookup("Employees","EmployeeID","coalesce(LastName,'') || ', ' || coalesce(FirstName,'')" ) },
        new GridColumn("OrderDate", "Ordered"),
        new GridColumn("RequiredDate", "Required"),
        new GridColumn("ShippedDate", "Shipped"),
        new GridColumn("Freight", "Cost") { Format = "c"}
    };
    ordersGrid.LinkedControl = orderDetailsGrid;
    ordersGrid.Caption = "Orders";
    ordersGrid.PageSize = 5;

    var customerSelect = new SelectModel(DataSourceType.SQLite, "Northwind", "customers") { Caption = "Customers", EmptyOption = "Please select a customer", Searchable = true };

    customerSelect.Columns = new List<SelectColumn>
    {
        new SelectColumn("CustomerID"),
        new SelectColumn("coalesce(CompanyName,'') || ', ' || coalesce(Address,'') || ', ' || coalesce(City,'')") {DataType = typeof(String)}
    };
    customerSelect.LinkedControl = ordersGrid;
}
<div class="d-flex flex-column gap-3">
    <div>
        @(new DbNetSuiteCore.Blazor.Control(httpContextAccessor.HttpContext).Render(customerSelect).Result)
    </div>
    <div>
        @(new DbNetSuiteCore.Blazor.Control(httpContextAccessor.HttpContext).Render(ordersGrid).Result)
    </div>
    <div>
        @(new DbNetSuiteCore.Blazor.Control(httpContextAccessor.HttpContext).Render(orderDetailsGrid).Result)
    </div>
</div>
