@page
@using DbNetTimeCore.Enums
@using DbNetTimeCore.Models
@model IndexModel
@{
    Layout = "_Layout";
}

@{

    var heatPumpColumns = new List<GridColumnModel>
    {
        new GridColumnModel("dbo.HeatPumps.Name HeatPumpName", "Name"),
        new GridColumnModel("dbo.Accounts.Name AccountName", "Account Name"),
        new GridColumnModel("dbo.HeatPumpGroups.Name GroupName", "Group Name")
    };
}


<div role="tablist" class="tabs tabs-lifted m-5  tabs-lg">
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="MT2" checked />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        @*   @Html.Raw(await new DbNetTimeCore.Components.GridControl(HttpContext).Render(new GridModel() { DataSourceType = DataSourceType.Timestream, ConnectionAlias = "AWS", TableName = "Kensa-Development.MT2_IN_RAW" }))*@
    </div>

    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="MT1" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        @*@Html.Raw(await new DbNetTimeCore.Components.GridControl(HttpContext).Render(new GridModel() { DataSourceType = DataSourceType.Timestream, ConnectionAlias = "AWS", TableName = "Kensa-Development.MT1_IN_REG" }))*@
    </div>

    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Heatpumps" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        @Html.Raw(await new DbNetTimeCore.Components.GridControl(HttpContext).Render(new GridModel() { DataSourceType = DataSourceType.MSSQL, ConnectionAlias = "Kensa", TableName = "dbo.Heatpumps left outer join dbo.Accounts on dbo.Heatpumps.AccountId = dbo.Accounts.Id left outer join dbo.HeatPumpGroups on dbo.HeatPumpGroups.Id = dbo.Heatpumps.HeatPumpGroupId", Columns = heatPumpColumns }))
    </div>

    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Person" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        @* @Html.Raw(await new DbNetTimeCore.Components.GridControl(HttpContext).Render(new GridModel() { DataSourceType = DataSourceType.MSSQL, ConnectionAlias = "AdventureWorks", TableName = "Person.Person" }))*@
    </div>
</div>
