@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models

@{
    <p style="width:700px; padding-bottom:20px">Click on an Excel file so see it presented in the Grid control</p>
    var columns = new List<GridColumn>()
    {
        new GridColumn(FileSystemColumn.Name.ToString())
    };
    var gridModel = new GridModel(DataSourceType.FileSystem, "/") { Url = "/data/excel", FixedFilter = "(IsDirectory = 1 or Name like '%.xlsx' or Name like '%.xls' or Name like '%.csv' )" };
    gridModel.Columns = columns;
    gridModel.ClientEvents[ClientEvent.CellRendered] = "createLink";

    @(await new DbNetSuiteCore.GridControl(HttpContext).Render(gridModel));
}

<script>
    function createLink(gridControl, args) {
        var tbody = args.cell.closest("tbody")
        
        switch (args.columnName) 
        { 
            case "Name":
                var name = args.cell.dataset.value.toString()
                if (name.endsWith(".xlsx") || name.endsWith(".xls") || name.endsWith(".csv")) {
                    args.cell.innerHTML = `<a target='_blank' href='${window.location.origin}/excel/renderfile?name=${name}'>${name}</a>`
                }
                break;
        }
    }
</script>
