@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Web.Enums

@{
    var cityColumns = new List<GridColumn>
    {
        new GridColumn("id") { PrimaryKey = true},
        new GridColumn("name") ,
        new GridColumn("state_id") { ForeignKey = true},
        new GridColumn("state_code"),
        new GridColumn("state_name"),
        new GridColumn("country_id"),
        new GridColumn("country_code"),
        
        new GridColumn("country_name"),
        new GridColumn("latitude"),
        new GridColumn("longitude"),
        new GridColumn("[latitude & ',' & longitude]", "Mapx") {Format = "<a target='_blank' href='https://www.google.com/maps/place/{0}'>Map</a>"},

        new GridColumn("wikiDataId") {Format = "<a target='_blank' href='https://www.wikidata.org/wiki/{0}'>WikiData</a>"}
    };

    var countryColumns = new List<GridColumn>
    {
         new GridColumn("id") { PrimaryKey = true},
         new GridColumn("name"),
         new GridColumn("iso3"),
         new GridColumn("iso2"),
         new GridColumn("numeric_code"),
         new GridColumn("phone_code"),
         new GridColumn("capital"),
         new GridColumn("currency"),
         new GridColumn("currency_name"),
         new GridColumn("currency_symbol"),
         new GridColumn("tld"),
         new GridColumn("native"),
         new GridColumn("[timezones]"),
         new GridColumn("region"),
         new GridColumn("subregion"),
         new GridColumn("latitude"),
         new GridColumn("longitude"),
         new GridColumn("latitude & ',' & longitude", "Map") {Format = "<a target='_blank' href='https://www.google.com/maps/place/{0}'>Map</a>"}
    };

    var stateColumns = new List<GridColumn>
    {
        new GridColumn("id") { PrimaryKey = true},
        new GridColumn("name"),
        new GridColumn("country_id") { ForeignKey = true, DataOnly = true},
        new GridColumn("state_code"),
        new GridColumn("type"),
        new GridColumn("latitude"),
        new GridColumn("longitude"),
        new GridColumn("latitude & ',' & longitude", "Map") {Format = "<a target='_blank' href='https://www.google.com/maps/place/{0}'>Map</a>"},
    };

    var countryModel = new GridModel(DataSourceType.Excel, "/data/excel/countries.csv") { Columns = countryColumns, ViewDialog = true };
    var stateModel = new GridModel(DataSourceType.Excel, "/data/excel/states.csv") { Columns = stateColumns, ViewDialog = true };
    var cityModel = new GridModel(DataSourceType.Excel, "/data/excel/cities.csv") { Columns = cityColumns, ViewDialog = true };

    countryModel.NestedGrid = stateModel;
    stateModel.NestedGrid = cityModel;
}

@(await new DbNetSuiteCore.GridControl(HttpContext).Render(countryModel))

