@using DbNetSuiteCore.Helpers

<div class="absolute flex flex-row" style="left:50%;top:50%;display:none">
    <div id="toastMessage" class="toast-message">
        @IconHelper.Info()
        <span class="pl-1"></span>
    </div>
</div>