@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Timesheet.Constants
@model DbNetSuiteCore.Timesheet.ViewModels.BaseViewModel
@{
    ViewData["Title"] = "Users";
}

@{
    GridModel projectsGrid = new GridModel(DataSourceType.MSSQL, TimesheetConstants.ConnectionAlias, "Project");
    projectsGrid.Columns = new List<GridColumn>()
    {
        new GridColumn("Id") {DataOnly = true},
        new GridColumn("Name") 
    };


    FormModel projectsForm = new FormModel("Project") { LayoutColumns = 4, Delete = true, Insert = true };
    projectsForm.Columns = new List<FormColumn>()
    {
        new FormColumn("Id") {DataOnly = true, ForeignKey = true},
        new FormColumn("Name") {Unique = true }
    };

    GridModel tasksGrid = new GridModel("Project_Task");
    tasksGrid.Columns = new List<GridColumn>()
    {
        new GridColumn("Id") {DataOnly = true},
        new GridColumn("ProjectId") {DataOnly = true, ForeignKey = true},
        new GridColumn("Name") { },
    };


    FormModel tasksForm = new FormModel("Project_Task") { LayoutColumns = 4, Delete = true, Insert = true };
    tasksForm.Columns = new List<FormColumn>()
    {
        new FormColumn("Id") {DataOnly = true, PrimaryKey = true},
        new FormColumn("ProjectId") {DataOnly = true,ForeignKey = true},
        new FormColumn("Name") {Required = true,Unique = true }
    };


    //projectsForm.Bind(FormClientEvent.RecordLoaded, "userControl.userSelected");

    projectsGrid.LinkedControl = projectsForm;
    projectsGrid.LinkedControl = tasksGrid;
    tasksGrid.LinkedControl = tasksForm;


    <div class="flex flex-column gap-3">
        <h3 class="h3">Projects</h3>
        <hr />
        <div class="flex flex-row gap-3">
            <div>@(await new DbNetSuiteCore.Control(Context).Render(projectsGrid))</div>
            <div>@(await new DbNetSuiteCore.Control(Context).Render(projectsForm))</div>
        </div>
        <h3 class="h3">Tasks</h3>
        <hr />
        <div class="flex flex-row gap-3">
            <div>@(await new DbNetSuiteCore.Control(Context).Render(tasksGrid))</div>
            <div>@(await new DbNetSuiteCore.Control(Context).Render(tasksForm))</div>
        </div>
    </div>

}
<script src="js/projects.js"></script>
